{% extends 'admin_templates/admin_home.html' %}
{% load static %}
{% block title %}Alpha Master | Registro Pago{% endblock title %}
{% block body %}
<div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Agregar Registro</h1>
              </div><!-- /.col -->
              <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Registro Pago</li>
                </ol>
              </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
          <div class="row">
              <div class="col-md-12">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Pago</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              {% if submitted %}
                !Success!

              {% else %}
              
                <form action="" method="POST">
                    {% csrf_token %}

                    {{ form.as_p }}
                  
                    <div class="card-body">
                      <div class="form-group">
                          {% if messages %}
                            {% for message in messages %}
                            {% if message.tags == 'error' %}
                            <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                            {% endif %}
                            {% if message.tags == 'success' %}
                            <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                            {% endif %}
                            {% endfor %}
                          {% endif %}
                        </div>
                    </div>

                    <div class="card-footer">
                      <button type="submit" class="btn btn-primary btn-block">Add Pago</button>
                    </div>
                </form>
              {% endif %}
            </div>
            <!-- /.card -->



          </div>
          </div>
      </div>
    </section>
    <!-- /.content -->
{% endblock body %}